<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AFrame Test</title>
    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
    <script src="https://unpkg.com/aframe-environment-component/dist/aframe-environment-component.min.js"></script>
    <script src="https://unpkg.com/aframe-haptics-component/dist/aframe-haptics-component.min.js"></script>
</head>
<body>
    <a-scene>
        <a-entity id="startButton_entity" position="0 1.7 -3" visible="true" geometry="primitive: plane; height: 1; width: 3.12403" start-countdown play-video-on-click
                  material="src: #startButton; transparent: false; color: black; opacity: 1; shader: flat" hover-image-change="hoverImage: #startButtonHover; originalImage: #startButton"></a-entity>
        <a-entity id="pose" position="1.5 3.1 -5" visible="false">
        </a-entity>
        <a-entity id="score" position="-3.5 2.7 -5" rotation="0 30 0" visible="true"
                  text="align:center; width:25; wrapCount:100; color: black; value: Score; font: dejavu"></a-entity>
    </a-scene>
</body>
</html>